
<div class = "back">
    <app-nav></app-nav>
    <div class = "container">
      <div class = "col-md-5"></div>
      <div class = "col-md-6">
      
      <div class = "row">
        <a class="btn-floating btn-lg btn-li mx-1">
            <i class="fa fa-phone fa-2x"></i>
            <a href="mailto:kerschels@hotmail.com">1-868-481-9322</a>
        </a>
        </div>
        <div class = "row">
            <a class="btn-floating btn-lg btn-li mx-1">
                <i class="fa fa-envelope fa-2x"></i>
                <a href="mailto:kerschels@hotmail.com">kerschels@hotmail.com</a>
            </a>
</div>
        <div class = "row">
            <a class="btn-floating btn-lg btn-li mx-1">
                <i class="fa fa-envelope fa-2x"></i>
                <a href="mailto:kerschelsx@gmail.com">kerschelsz@gmail.com</a>
            </a>
            
            </div>
    </div>
</div>    

<div class="text-center footer">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/kerschel.james"><a class="btn-floating btn-lg btn-fb mx-2">
                    <i class="fa fa-facebook fa-2x"> </i>
                </a></a>
            </li>
            <li class="list-inline-item">
                <a href="mailto:kerschels@hotmail.com"><a class="btn-floating btn-lg btn-tw mx-1">
                    <i class="fa fa-envelope fa-2x"> </i>
                </a></a>
            </li>
            <li class="list-inline-item">
                <a href="mailto:kerschelsz@gmail.com"> <a class="btn-floating btn-lg btn-gplus mx-1">
                    <i class="fa fa-google-plus fa-2x"> </i>
                </a></a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/Kerschel">
                 <a class="btn-floating btn-lg btn-li mx-1">
                    <i class="fa fa-github fa-2x"></i>
                </a></a>
            </li>
         
        </ul>
    </div>
</div>