<div  class="homescreen" >

    <nav class="navbar navbar-inverse my-navbar">
      <div class="container">
      
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li ><a href="api">Apps & APIs</a></li>
          <!-- <li ><a href="#">Apps</a></li> -->
          <!-- <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ><a href="contact">Contacts</a></li>
            <li><a href="resume">Resume</a></li>
            <li><a href="">About</a></li></ul>
      </div>

    </nav>
   
</div>
