

    <nav class="navbar navbar-inverse my-navbar">
      <div class="container">
      
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li ><a href="api">Apps & APIs</a></li>
          <!-- <li ><a href="#">Apps</a></li> -->
          <!-- <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ><a href="contact">Contacts</a></li>
            <li><a href="resume">Resume</a></li>
            <li><a href="">About</a></li></ul>
      </div>

    </nav>

    <div class="text-center footer">
      <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
              <a href="https://www.facebook.com/kerschel.james"><a class="btn-floating btn-lg btn-fb mx-2">
                  <i class="fa fa-facebook fa-2x"> </i>
              </a></a>
          </li>
          <li class="list-inline-item">
              <a href="mailto:kerschels@hotmail.com"><a class="btn-floating btn-lg btn-tw mx-1">
                  <i class="fa fa-envelope fa-2x"> </i>
              </a></a>
          </li>
          <li class="list-inline-item">
              <a href="mailto:kerschelsz@gmail.com"> <a class="btn-floating btn-lg btn-gplus mx-1">
                  <i class="fa fa-google-plus fa-2x"> </i>
              </a></a>
          </li>
          <li class="list-inline-item">
              <a href="https://github.com/Kerschel">
               <a class="btn-floating btn-lg btn-li mx-1">
                  <i class="fa fa-github fa-2x"></i>
              </a></a>
          </li>
       
      </ul>
  </div>