
<div class = "back">
<app-nav></app-nav>

 
<!--Footer-->
<footer class="page-footer font-small stylish-color-dark pt-6 mt-6">

    <!--Footer Links-->
    <div class="container text-center text-md-center">
        <div class="row">
          <div class ="col-md-3"></div>
            <!--First column-->
            <div class="col-md-6">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Kerschel James</h5>
                <p class="school">The University of the West Indies.(UWI) St. Augustine. Trinidad and Tobago</p>
            <div class = "row"><br></div>
                <div class="row ">
                  <p>I am currently a MSc. student at UWI St. Augustine pursuing a degree in
                    Computer Science and Information technology, Specialized in Cloud Computing. I am interested in 
                  Software development (both desktop and web) and Cybersecurity. 
                    Getting Experience in various jobs and technologies help me in my development
                    .I strive to be the best of myself and try to keep positive always. <br> 
                    Once I keep trying nothing is impossible.             
                </div>

                
            </div>
            
            <div class ="col-md-3">
             
                <div class = "placeholder"></div>
                <img class="card-img-top image" src="/assets/profile.jpg" alt="Card image" style="width:90%">
              
              
            </div>
        
        
        </div>
        <br> 
        <hr class="clearfix w-100 d-md-none">
        <div class = "quote">
            Quote API: {{quote}}
        </div>
    </div>
  
   

</footer>
<!--/.Footer-->
                      
</div>